* {
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
.cont {
    margin-top: 100px;
    position: relative;
}

#content {
    position: relative;
    margin: 0 auto;
}

.last {
    width: 721px;
    height: 721px;
    margin: 0 auto;
    display: none;
    text-align: center;
}

.cols {
    width: 180px;
    height: 180px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
    position: relative;
}

.evil {
    background-image: url("img/evil.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    position: relative;

}

.elephant {
    background-image: url("img/elephant.png");
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    text-align: center;
}
